<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <header class='header flex'>
        <div class='logoDiv'>
            <a href='#' class='logo flex'>
                <div class='logoTitle'>
                    <h2>
                        <img alt='Công ty dịch vụ và lữ hành Rồng Đất Phan' class='icon'
                            src='https://res.cloudinary.com/dk41ftplg/image/upload/v1704604655/RDP_TOURISM/ntmnpbmaymnucb5e4zkn.png'></img>
                        RONGDATPHAN


                    </h2>

                    <h5 class='childH6'>T R A V E L</h5>
                </div>

            </a>
        </div>

        <div class="navBar">
            <ul class="navLists flex">
                <li class='navItem '>
                    <a href='#' class='navLink'>
                        HOME
                    </a>

                </li>
                <li class='navItem '>
                    <a href='#' class='navLink'>
                        TOUR
                    </a>
                </li>
                <li class='navItem '>
                    <a href='#' class='navLink'>
                        SERVICE
                    </a>
                </li>
                <li class='navItem '>
                    <a href='#' class='navLink'>
                        CONTACT
                    </a>
                </li>

            </ul>


        </div>
    </header>
</body>

</html>