.main {
    margin-top: 4rem;
    height: fit-content;

}

th {
    text-align: center;

}

.select {
    width: 30px;
    text-align: left;
}

.stt {
    width: 50px;
}

span {
    font-family: 'Times New Roman', Times, serif;

}

.btn:hover {
    color: black;
}

.describe {
    max-width: 300px;
}

.price {
    text-align: center;
}

td .imgPosition {
    max-width: 200px;
    max-height: 200px;
}

.binsI {
    width: 30px;

}

.btn-outline-danger {
    margin-right: 20px;
}


.header-form-update-header {
    justify-content: center;
    text-align: center;
}