<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="container-fluid main" style="height: 605px;">
      <div class="address" style="background-color: hwb(0 92% 7%);">
        <p class="title">Manager/Home/manager-header-form</p>
      </div>
      <div class="header-form-update-header">
        <h3>Update header</h3>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Title 1</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Tiêu đề đầu tiên"
        />
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Title 2</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Tiêu đề thứ 2"
        />
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Chọn file video cho header</label>
        <input class="form-control" type="file" id="formFile" />
      </div>
      <button type="button" class="btn btn-outline-primary">Update</button>
    </div>
  </body>
</html>